<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediaVibe</title>
    <link rel="stylesheet" href="./input.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
     <script src="https://cdn.tailwindcss.com"></script>
     <style>
      .scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity)) /* #e5e7eb */;
}


.text-color{
    background-image: linear-gradient(to right, #4ea6e588, #ace53a);
    color: rgba(2, 200, 218, 0.319);
    -webkit-background-clip: text;
    background-clip: text;
  }
     </style>
  </head>

  <body class="bg-black">
    <header class="bg-gray-950 shadow-md w-full z-10 p-1 fixed top-0 left-0">
      <div class="container mx-auto flex justify-between items-center p-4">
        <!-- Logo Section -->
        <div id="logo" class="flex-shrink-0">
          <img
            class="h-10 w-auto"
            src="https://firebasestorage.googleapis.com/v0/b/mediaplayer-73040.appspot.com/o/Logo.png?alt=media&token=34a54c85-810a-4779-8818-a73f122db4af"
            alt="MediaVibe Vibe With Media"
          />
        </div>

        <!-- Navigation -->
        <nav class="flex-grow">
          <ul class="flex justify-center space-x-8 text-white">
            <li>
              <a
                href="index.html"
                class="p-1 font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg"
              >
                Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="p-1 font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg"
                >About Us</a
              >
            </li>
            <li>
              <a
                href="#"
                class="p-1 font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg"
                >Premium</a
              >
            </li>
          </ul>
        </nav>

        <!-- Customer Support & Get Started Button -->
        <div class="flex items-center space-x-4 hover:text-black">
          <a
            href="#"
            class="p-1 text-white font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg mr-6"
          >
            <i class="fas fa-headset text-white hover:text-black font-bold"></i>
            <!-- Customer Support Icon -->
            Customer Support
          </a>

          
          <a href="./register">
            <button
              class="bg-gray-500 font-bold text-white px-4 py-2 rounded-lg hover:text-black hover:bg-gray-300 flex items-center mr-2"
            >
              <i class="fas fa-sign-in mr-2 font-bold"></i> Get Started
            </button>
          </a>
          
        </div>
      </div>
    </header>

    <main class="mt-16 px-8 py-8 space-y-16">
      <!-- Music Section -->
      <section
        class="flex flex-wrap items-center p-6 shadow-lg rounded-lg mb-4"
      >
        <div class="w-full md:w-1/2 px-10">
          <h1 class="text-9xl font-bold mb-4 px-10 text-center text-color">
            Music
          </h1>

          <p class="text-2xl font-bold text-left text-color">
            Music has an incredible ability to shape the atmosphere and vibe of
            any space or moment. It is a universal language that transcends
            boundaries and connects us on a profound level. It can evoke
            emotions, trigger memories, and set the tone for any occasion,
            making it an essential element in the tapestry of human experience.
            With music, we can transform a mundane moment into a memorable one,
            and it serves as a powerful medium through which we express our
            emotions, tell stories, and connect with one another on a deeply
            emotional level.
          </p>
        </div>
        <div class="w-full md:w-1/2 h-fit text-center">
          <img
            src="../home/Main.jpeg"
            alt="Music"
            class="w-full h-auto rounded-lg"
          />
        </div>
      </section>

      <!-- Highlights Section -->
      <section
        class="flex flex-wrap justify-between p-6 shadow-lg rounded-lg space-y-4 md:space-y-0"
      >
        <div class="w-full md:w-1/4 text-center font-semibold">
          <div class="text-center font-extrabold text-white text-4xl p-4">
            <i class="fas fa-lock"></i>
          </div>
          <h3 class="text-4xl font-bold mb-2 text-color">Secured</h3>
          <p class="font-semibold text-justify p-1 m-3 text-2xl text-color">
            Protect your data with confidence, regardless of your expertise or
            budget
          </p>
        </div>

        <div class="w-full md:w-1/4 text-center font-semibold">
          <div class="text-center font-extrabold text-white text-4xl p-4">
            <i class="fas fa-sliders-h"></i>
          </div>
          <h3 class="text-4xl font-bold mb-2 text-color">Control</h3>
          <p class="font-semibold text-justify p-1 m-3 text-2xl text-color">
            Take command of your content with easy-to-use controls, empowering
            you to tailor your experience to your exact preferences
          </p>
        </div>
        <div class="w-full md:w-1/4 text-center font-semibold">
          <div class="text-center font-extrabold text-white text-4xl p-4">
            <i class="fas fa-sync-alt"></i>
          </div>
          <h3 class="text-4xl font-bold mb-2 text-color">Seamless</h3>
          <p class="font-semibold text-justify p-1 m-3 text-2xl text-color">
            Effortlessly integrate and streamline tasks with our seamless
            solutions, ensuring a smooth experience for all users
          </p>
        </div>
        <div class="w-full md:w-1/4 text-center font-semibold">
          <div class="text-center font-extrabold text-white text-4xl p-4">
            <i class="fas fa-tv"></i>
          </div>
          <h3 class="text-4xl font-bold mb-2 text-color">High- Definition</h3>
          <p class="font-semibold text-justify p-1 m-3 text-2xl text-color">
            Experience crystal-clear visuals and immersive sound with our
            high-definition quality, bringing your content to life.
          </p>
        </div>
      </section>

      <!-- Video Section -->
      <section
        class="flex flex-wrap items-center p-6 shadow-lg rounded-lg mb-4"
      >
        <div class="w-full md:w-1/2 text-center">
          <img
            src="./home/Main.jpeg"
            alt="Video"
            class="w-full h-auto rounded-lg"
          />
        </div>
        <div class="w-full md:w-1/2 px-10">
          <h1 class="text-9xl font-bold mb-4 px-10 text-center text-color">
            Video
          </h1>
          <p class="text-2xl font-bold text-right text-color">
            Video, much like music, possesses a captivating ability to sculpt
            the ambiance and essence of any given space or moment. It speaks a
            universal language that effortlessly traverses boundaries, forging
            profound connections on a visceral level. Videos have the unique
            power to stir emotions, awaken memories, and establish the perfect
            mood for any occasion, making them an indispensable element in the
            rich tapestry of human experience. video serves as a dynamic medium
            through which we express our emotions, narrate compelling stories,
            and establish deep emotional connections with one another.
          </p>
        </div>
      </section>
    </main>
    <footer class=" flex bg-gray-950 h-20 ">
      <div class="flex p-4">
        <img
          class="  h-10 "
          src="https://firebasestorage.googleapis.com/v0/b/mediaplayer-73040.appspot.com/o/Logo.png?alt=media&token=34a54c85-810a-4779-8818-a73f122db4af"
          alt="MediaVibe Vibe With Media"
        />
        <span class=" p-2 text-lg text-white sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">MediaVibe™</a>. All Rights Reserved.
        </span>
      </div>

      <div class="flex mx-auto">

      <ul class="flex items-center text-white">
        <li class="px-4">
          <a
            href=""
            class="p-1 font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg"
          >
            Privacy Policy </a
          >
        </li>
        <li></li>
          <a
            href=""
            class="p-1 font-semibold text-lg hover:bg-gray-300 hover:text-black hover:rounded-lg"
          >
            Terms Of Service </a
          >
        </li>
      </ul>
    </div>

    <div class="flex items-center space-x-4  p-4 mr-8">
      <!-- Facebook Icon -->
      <a href="https://facebook.com" >
          <i class="fab fa-facebook-f text-white text-xl"></i>
      </a>
      <!-- Instagram Icon -->
      <a href="https://instagram.com">
          <i class="fab fa-instagram text-white text-xl"></i>
      </a>
      <!-- GitHub Icon -->
      <a href="https://github.com">
          <i class="fab fa-github text-white text-xl"></i>
      </a>
  </div>
    </footer>
  </body>
</html>
